<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.jktu.api.dao.mapper.PostMapper">
    <insert useGeneratedKeys="true" keyProperty="id" id="insert">
        INSERT INTO post(title, content, create_time, update_time, user_id) VALUE (#{post.title}, #{post.content},
                                                                                   #{post.createTime},
                                                                                   #{post.updateTime}, #{post.userId})
    </insert>
    <update id="updateById">
        UPDATE post p
        <set>
            <if test="post.title != null">
                p.title= #{post.title}
            </if>
            <if test="post.content != null">
                p.content = #{post.content}
            </if>
            <if test="post.create_time != null">
                p.create_time = #{post.create_time}
            </if>
            <if test="post.update_time != null">
                p.update_time = #{post.update_time}
            </if>
            <if test="post.user_id != null">
                p.user_id = #{post.user_id}
            </if>
        </set>
    </update>
    <delete id="deleteByUserId">
        DELETE
        FROM post p
        WHERE p.user_id = #{userId}
    </delete>
    <delete id="deleteById">
        DELETE
        FROM post p
        WHERE p.id = #{id}
    </delete>
    <select id="selectPage" resultMap="postResultMap">
        <bind name="offset" value="(pageNum-1) * pageSize"/>
        SELECT p.id,
        title,
        content,
        create_time,
        update_time,
        user_id,
        u.username
        FROM post p
        LEFT JOIN user u ON u.id = p.user_id
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM post p
    </select>
    <select id="selectById" resultMap="postResultMap">
        SELECT *
        FROM post p
        WHERE p.id = #{id}
    </select>
    <resultMap id="postResultMap" type="cc.jktu.api.dao.entity.Post">
        <association property="user" javaType="cc.jktu.api.dao.entity.User">
            <id property="id" column="user_id"/>
        </association>
    </resultMap>
</mapper>