spring:
  sql:
    init:
      schema-locations: classpath:/blog/schema.sql
      mode: always
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      max-lifetime: 300000
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

mybatis-plus:
  global-config:
    banner: false

sa-token:
  token-name: Token
  is-print: false
  is-read-cookie: false